pillow
numpy
pandas
opencv-python
scikit-image
scikit-learn
matplotlib
seaborn
tqdm
joblib
#bibliotecas permitidas: numpy, pandas, opencv-python, scikit-image, scikit-learn,
#matplotlib, seaborn, tensorflow/keras, pytorch